{% with messages = get_flashed_messages(with_categories = true) %}{% if messages
%} {% for category, message in message %}
<div class="container">
  <div class="alert alert-{{ category }}">{{ message }}</div>
</div>

{% endfor %} {% endif %} {% endwith %} {% if error %}
<div class="container">
  <div class="alert alert-danger">{{ error }}</div>
</div>

{% endif %} {% if msg %}
<div class="container">
  <div class="alert alert-success">{{ msg }}</div>
</div>

{% endif%}
