<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% assets 'css_all' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <title>FLask boiler plate app</title>
  </head>

  <body>
    {% block body %}
    <div class="container"></div>
    {% endblock body %}
  </body>
</html>
