* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  height: auto;
  width: 100vw;
  position: relative;
}

.index--container {
  position: absolute;
  left: 50%;
  top: 30%;
  border: 0.5px solid #eeeeee;
  transform: translate(-50%, -30%);
  padding: 20px;
  text-align: center;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #000411;
}

span {
  margin: 3rem 0;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
